/ApliRepararPC-Access/nbproject/private/
/ApliRepararPC-Access/build/
/ApliRepararPC-Access/dist/
/LibRepararPC-MySQL/nbproject/private/
/ApliRepararPC-MySQL/nbproject/private/
/LibRepararPC-MySQL/build/
/ApliRepararPC-MySQL/build/
/LibRepararPC-MySQL/dist/
/ApliRepararPC-AllBD/dist/
