/ApliRepararPC-AllBD/nbproject/private/
/ApliRepararPC-AllBD/build/
/ApliRepararPC-AllBD/dist/
/LibRepararPC-MySQL/nbproject/private/
/LibRepararPC-MySQL/build/
/LibRepararPC-MySQL/dist/
/ApliRepararPC-MySQL/nbproject/private/
/ApliRepararPC-MySQL/build/
/ApliRepararPC-MySQL/dist/
